body{
   background-color: #F7F7F7;
   padding: 0 100px 0 20px;    
}


h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 20pt;
    color:black;
}

.second h1 {
    font-family: 'Times New Roman', Times, serif;
}

.second{
    background-image: url('/architecture-japan-man-1822605.jpg');
    background-size:90%;
    background-repeat: no-repeat;
}



.nav{
    position: fixed;
    display: grid;
    z-index: 1;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: white;
    grid-template-columns: 10% 90%;
    grid-template-areas: 
        'logo nav nav nav';
    /* padding-top: rem; */
    padding-right: 100px;

}


.logo{
    grid-area: logo;
    /* padding-left: 1em;
    padding: 3em;
    margin: 0.5rem;
    margin-left: 5rem; */
    align-content: left;
    background-image: url('/Images/Green.png');
    background-repeat: no-repeat;
    /* background-size: 90px; */

}

.navbar{
    grid-area: nav
}

.navbar ul {
    
    display: grid;
    grid-gap: 1px;
    list-style: none;
    grid-template-columns: repeat(6, 10rem);
    justify-content: center;
    font-family: lato;
    font-size: 15pt;
    text-align: right;
    padding: 0%;
    padding-top: 1px;
    text-decoration: none;
}

a {
    text-decoration: none;
}